@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
	color: #333;
}

body {
	background-color: #fff;
}

.container {
	width: 660px;
	margin: auto;
}

header,
footer {
	text-align: center;
}

section {
	border: 2px solid #fff;
	margin-top: 16px;
	padding: 16px;
	border-radius: 8px;
}

.mini-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	width: 280px;
	height: 250px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	transition: 1s ease 0s;
	border-radius: 16px;
	margin: 16px;
	box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
		rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
		rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 0px 1px;
}

.card span {
	position: absolute;
	bottom: 10px;
	font-size: 12px;
	font-style: italic;
}

/* ANIMATION 1 */

.heart {
	font-size: 120px;
	color: #e31b23;
	animation: animateHeart 2s infinite;
}

@keyframes animateHeart {
	0% {
		transform: scale(0.8);
	}
	15% {
		transform: scale(0.9);
	}
	25% {
		transform: scale(0.8);
	}
	35% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(0.8);
	}
}

/* ANIMATION 2 */

.hearta {
	font-size: 100px;
	position: relative;
	z-index: 1;
	color: #98002e;
	animation: beat 2s linear infinite;
}

.heartb {
	position: absolute;
	font-size: 100px;
	width: 100px;
	color: #98002e;
	right: 0;
	left: 0;
	margin: auto;
	animation: echo 2s linear infinite;
}


@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) 
  }
  28% {
    transform: scale(1) 
  }
  35% {
    transform: scale(1) 
  }
}

@keyframes echo {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  21% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}

/* ANIMATION 3 */

.charge{
    background-color: #5BC236;
    width: 0px;
    height: 64px;
    animation: battery 5s infinite;
    margin:5px;
	border-radius: 4px;
}

.battery{
    width: 200px;
    height: 80px;
    border: 3px solid #222;
	position: relative;
	border-radius: 6px;
}

.plus{
    position: absolute;
    right: -14px;
    top: 20px;
	border-radius: 4px;
    border: 3px solid #222;
    width: 14px;
    height: 30px;
}

@keyframes battery{
    0%, 100%{
        width: 0px;
    }
    20%{
        width: 25%;
    }
    40%{
        width: 50%;
    }
    60%{
        width: 75%;
    }
    80%{
        width: 95%;
    }
}

/* ANIMATION 4 */
.fun {
	display: flex;
	gap: 8px;
}

.eyes{
    border: 2px solid #222;
    border-radius: 100px;
    width: 100px;
    height: 160px;
}

.zrachki{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #222;
    position: relative;
    left:35%;
    animation: eyes 8s infinite;
    bottom:-100px;
}

@keyframes eyes{
    0%, 100%{
        left:20%;
        bottom:-100px;
    }
    15%{
        left:50%;
        bottom:-80px;
    }
    30%{
        left:20%;
        bottom:-100px;
    }
    45%{
        left:10%;
        bottom:-80px;
    }
    65%{
        left:20%;
        bottom:-100px;
    }
    80%{
        left:20%;
        bottom:-50px;
    }
}


footer {
	font-size: 12px;
	margin: 5px 0;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
	.mini-container {
		justify-content: center;
	}
}
